body{
    font-family:Arial, Helvetica, sans-serif;
}

div{
    display: flex;
    justify-content: center;
}

footer{
    font-size: 10px;
    display:flex;
    justify-content: flex-end;
}
nav{
    text-align: left;
}


header, .section-content, footer{
    width: 100%;
    background-color: #f5a260;
    border: 5px solid #e76e51;
    font-size: 20px;
    min-height: 100px;
    margin:20px;
}

p{
    text-align: center;
    color: white;
}

.clear-fix{
    clear:both;
}

.my-cols-2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.header-photo {
    width: 25vw;
}

.headerPhoto{
    width: 100px;
    height:200px;
    margin: 20px;
}

.cat-photo{
    width: 200px;
    height: 200px;
    margin: 10x;
}

.headerTitle{
    color:white;
    text-align: left;
}

.section-title{
    color: white;
    text-align: left;
}

.subSection{
    color: white;
    text-align: right;
}
.background{
    background-color: #e2cc96;
}

.photos{
    margin: 15px;
    border: 3px solid #e76e51;
}

.my-cols-3{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.link{
  background-color: #e76e51;
  width: 200px;
  margin: 10px;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #264652;
  color: white;
  cursor: pointer;
  float: right;
}

a{
    color: #f5a260;
}

button:hover, a:hover{
    color: #2d9d89;
    background: #264652;
}
 
